{#
/**
 * @file
 * Default theme implementation to display a block.
 *
 * Available variables:
 * - plugin_id: The ID of the block implementation.
 * - label: The configured label of the block if visible.
 * - configuration: A list of the block's configuration values.
 *   - label: The configured label for the block.
 *   - label_display: The display settings for the label.
 *   - provider: The module or other provider that provided this block plugin.
 *   - Block plugin specific settings will also be stored here.
 * - content: The content of this block.
 * - attributes: array of HTML attributes populated by modules, intended to
 *   be added to the main container tag of this template.
 *   - id: A valid HTML ID and guaranteed unique.
 * - title_attributes: Same as attributes, except applied to the main title
 *   tag that appears in the template.
 * - content_attributes: Same as attributes, except applied to the main content
 *   tag that appears in the template.
 * - title_prefix: Additional output populated by modules, intended to be
 *   displayed in front of the main title tag that appears in the template.
 * - title_suffix: Additional output populated by modules, intended to be
 *   displayed after the main title tag that appears in the template.
 *
 * @see template_preprocess_block()
 *
 * @ingroup themeable
 */
#}
{#{% if label == 'ShoppingCart01' %}#}
  {#<div>#}
        {#<h1>Einkaufswagen</h1>#}

        {#<div id="___MGBLOCK_ID___" class="vinsto-mgblock--wrapper">#}
          {#<script type="text/javascript" src="http://view-layout-provider.local/api/mgblock/000_common/resource/loadlib.js"></script>#}
          {#<script>#}
              {#loadJQuery()#}
          {#</script>#}
          {#<div class="mgb--outer-crust"#}
               {#mgblock="{{ content }}"#}
               {#mgblock-html="index.html"#}
               {#mgblock-js="index.js"#}
               {#mgblock-css="index.css"#}
          {#>#}

          {#</div>#}
          {#<!--<script src="http://view-layout-provider.local/api/mgblock/000_common/resource/basic.js"></script>-->#}
          {#<script>#}
              {#loadBasic()#}
          {#</script>#}
          {#<!--Todo: 不要写死JS所在的URL，改为由服务器自动解析 -->#}
          {#<!--<script src="___MGBLOCK__PARSE_BASE_JS___"></script>-->#}
        {#</div>#}

  {#</div>#}

{#{% else %}#}
    {%
        set classes = [
        'block',
        'block-' ~ configuration.provider|clean_class,
        'block-' ~ plugin_id|clean_class,
    ]
    %}
    <div{{ attributes.addClass(classes) }}>
        {{ title_prefix }}
        {% if label %}
            <h2{{ title_attributes }}>{{ label }}</h2>
        {% endif %}
        {{ title_suffix }}
        {% block content %}
            <div{{ content_attributes.addClass('content') }}>
                {{ content }}
            </div>
        {% endblock %}
    </div>
{#{% endif %}#}
